<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="icon.ico"/>
    <link rel="icon" type="image/png" href="icon-32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="icon-96.png" sizes="96x96"/>
    <link rel="apple-touch-icon" sizes="180x180" href="icon-180.png"/>
    <title>Travel App</title>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
</head>
<body>
<header>
    <div class="logo">
        <img src="logo.svg" alt="Logo" title="Logo Yvonne Vogt"/>
    </div>
    <div class="nav">
    </div>
</header>
<main>
    <section>
        <h1>Sentiment analyzer</h1>
        <form onsubmit="return Client.handleSentiment(event)">
            <p>
                Enter the text to analyze ...
            </p>
            <input type="text" id="text" name="text" value="" placeholder="Text to analyze"/>
            <p>
                ... and select the language of your text.
            </p>
            <select id="sentimentLanguage" name="sentimentLanguage">
                <option value="en">English</option>
                <option value="de">German</option>
                <option value="fr">French</option>
                <option value="it">Italian</option>
            </select>
            <input type="submit" name="" value="submit" onclick="return Client.handleSentiment(event)"
                   onsubmit="return Client.handleSentiment(event)">
        </form>
    </section>
    <section>
        <h1>Text analyzer</h1>
        <form class="" onsubmit="return Client.handleSummarization(event)">
            <p>
                Enter the URL you want to analyze ...
            </p>
            <input id="url" type="text" name="url" value="" placeholder="Article URL"/>
            <p>
                ... and specify how many sentences you want the result to be summarized to.
            </p>
            <select id="sentences" name="sentences">
                <option value="5">5 (condensed down, might not be the best result)</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10 (might be too verbose)</option>
            </select>
            <input type="submit" name="" value="submit" onclick="return Client.handleSummarization(event)"
                   onsubmit="return Client.handleSummarization(event)">
        </form>
    </section>
    <section>
        <div class="summary result">
            <h1>Detected Language:</h1>
            <p id="language"></p>
            <h1>Summary:</h1>
            <p id="summary"></p>
        </div>
        <div class="sentiment result">
            sentiment
        </div>
        <div id="spinner">
            <p>Loading, please wait ...</p>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2021 Yvonne Vogt</p>
</footer>
</body>
</html>
