<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="icon.ico"/>
    <link rel="icon" type="image/png" href="icon-32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="icon-96.png" sizes="96x96"/>
    <link rel="apple-touch-icon" sizes="180x180" href="icon-180.png"/>
    <title>Travel App</title>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
</head>
<body>
<header>
    <div class="logo">
        <img src="logo.svg" alt="Logo" title="Logo Yvonne Vogt"/>
        <h1>Travel planner</h1>
    </div>
    <div class="nav">
    </div>
</header>
<main>
    <aside>
        <h1>New Destination</h1>
    </aside>
    <section>
        <label for="picker-collapse"><h2>1. Pick a destination</h2></label>
        <input type="checkbox" id="picker-collapse" class="collapsible-trigger">
        <form onsubmit="return Client.findDestination(event)" class="collapsible">
            <p>
                Provide the city you want to visit ...
            </p>
            <input type="text" id="city" name="city" value="" placeholder="City you want to visit"/>
            <p>
                ... and the country.
            </p>
            <select id="country" name="country">
                <option value="gb">Great Britain</option>
                <option value="de">Germany</option>
                <option value="fr">France</option>
                <option value="it">Italy</option>
                <option value="">... more to come</option>
            </select>
            <input type="submit" name="" value="submit" onclick="return Client.findDestination(event)"
                   onsubmit="return Client.findDestination(event)">
        </form>
    </section>
    <section id="destinations">
        <label for="destinations-collapse"><h2>2. Chose the one you looked for</h2></label>
        <input type="checkbox" id="destinations-collapse" class="collapsible-trigger">
        <div id="destinationList" class="collapsible">
            <div class="resultWrapper"></div>
        </div>
    </section>
    <section id="forecast">
        <label for="forecast-collapse"><h2>Weather forecast for your destination</h2></label>
        <input type="checkbox" id="forecast-collapse" class="collapsible-trigger">
        <div id="forecastList" class="collapsible">
            <div class="forecastWrapper"></div>
        </div>
    </section>
    <section id="spinner">
        <p>Loading, please wait ...</p>
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2021 Yvonne Vogt</p>
</footer>
</body>
</html>
