@import "variables";
@import "colours";

@import "resets";
@import "footer";
@import "form";
@import "header";
@import "spinner";

body {
    * {
        color: $cFonts;
        font-family: sans-serif;
    }

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $cBodyBackground;
    max-width: $vSectionMaxWidth;
    margin: 0 auto;
}

main {
    flex: 2;
}

section {
    max-width: $vSectionMaxWidth;
    margin: 50px auto;

    h1 {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
}

#destinations {
    display: none;

    #destinationList {
        .resultWrapper > div {
            background-color: $cLight;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

#forecast {
    display: none;

    #forecastList {
        .forecastWrapper > div {
            background-color: $cLight;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

#spinner {
    display: none;
}

label {
    cursor: pointer;
}

.collapsible-trigger {
    display: none;
}

.collapsible {
    display: block;
}
:checked + .collapsible {
    display: none;
}