@import "variables";

@import "resets";
@import "footer";
@import "form";
@import "header";


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: $sectionMaxWidth;
    margin: 50px auto;
}
