#destinations {
  display: none;
  grid-area: dest;

  #destinationList {
    .resultWrapper > div {
      background-color: $cLight;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $cAccentuation;
      }
    }
  }
}