form {
    border: 1px solid $cBorder;
    border-radius: 3px;
    padding: 40px;

    input, select {
        padding: 5px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        box-sizing: border-box;
        border-radius: 5px;
        color: $cDark;

        &:hover {
            background-color: $cAccentuation;
        }
    }
}
