header {
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 10px;
    margin-top: 20px;

    .logo {
        grid-area: logo;
        img {
            height: 3rem;
            transform: rotate(45deg);
            position: relative;
            top: 10px;
        }
        h1 {
            font-size: 2rem;
            padding-left: 20px;
        }
    }

    .nav {
        grid-area: nav;
    }
}